#columns {
    display: table;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
    margin-left: 0;
    margin-right: 0;

    border-color: #A180B5;
    border-width: 0px 0px 1px 0px;
    border-style: solid;

    width: 999px;
}

#columns > div,
#columns > noindex > div {
    display: table-cell;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;  /* не поддерживается в CSS2 */

    /*border-width:1px;*/
    border-top-width: 1px;
    border-color: #A180B5;
    border-style:solid;

    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: #A180B5;
}

#columns > #left,
#columns > noindex > #left {
    width: 33%;
}

#colums > #left > h1,
#colums > noindex > #left > h1 {
    font-size:30px;
    color:#A180B5;
    text-shadow:0px 1px 1px #f4f4f4;
    text-align:center;
    padding:0px 0 0px;
}

#columns > #right,
#columns > noindex > #right {
    width: 33%;
    overflow: hidden;
}