/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: #FFFFFF; /* Old browsers */
    background-image: url(images/try/noisy_grid.png);
    background-repeat: repeat;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;

}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
}

.colums_content_h1 {
    font-size:25px;
    color:#FBF002;
    /*text-shadow:0px 1px 1px #6BC59A;
    text-align:center;*/
    padding: 10px;

    margin-top: 10px;
    background-color:#A180B5;

    margin-right: 10px;
    margin-left: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*border: 1px solid #6F6F6F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style:solid;*/
}

.colums_content_p {
    text-align: center;
    padding: 2px;
}

.table_serv{
    margin-left:150px;
    border-width: 2px ;
    border: 25px, solid black ;
    text-align: center;
    padding-bottom: 25px;
}    

.tab{
    color:#A180B5;
    font-size: 25px;
    margin-top:25px;
    text-align: center;
}

.content_all{
    color:#A180B5;
    text-indent: 30px; 
    text-align: justify;
    padding: 12px;
    font-family: sans-serif;
    font-size: 15px;
}

.content_servs{
    padding: 25px;
}

b{
    font-weight: 800;
}
.table_serv tr{
    height:70px;
}

.table_serv td{
    width:70px;
}


.content_block {
    text-indent: 30px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 9px;

    text-align: justify;

    border-color: #A180B5;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
}


.size_text{
    font-family: "Arial";
    font-size: 20px;
    color: #A180B5;
}
.size_text h3 {
    font-size: 35px;
}


.bord {
    border-color: #A180B5;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.wrapper {
    width: 999px;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
    background: #FFFFFF;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
    background: #FFFFFF;
    width: 999px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
    font-family: "Arial";   
    font-size: 15px;
    color: #A180B5;
    background: #FFFFFF;

    border-color: #A180B5;
    border-width: 1px 0px 1px 0px;
    border-style: solid;

    /*min-width: 996px;
    max-width: 997px;*/
    width: 999px;

    text-align: right;
}

/* Start PureCSSMenu.com STYLE 
-----------------------------------------------------------------------------*/
#pcm{display:none;}
ul.pureCssMenu ul {display:none;}
ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: absolute;left: -1px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.pureCssMenu,ul.pureCssMenu ul {
    margin:0px;
    list-style:none;
    padding:0px 0px 0px 100px;
    background-color:#FFFFFF;
    background-repeat:repeat;
    /* border-color:#cccccc #111111 #111111 #cccccc; */
    border-color: #A180B5;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    /* ------------ */
    width: 899px;
}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
    display:block;
    zoom:1;
    float: left;
}
ul.pureCssMenu ul{
    width:0px;
}
ul.pureCssMenu li{
    display:block;
    margin:0px 0px 0px 0px;
    font-size:0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
    outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
    display:block;
    vertical-align:middle;
    background-color:#FFFFFF;
    /*border: 1px solid #6BC59A;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    margin-right: 15px;
    margin-left: 15px;

    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:15px 25px 15px 25px;
    /*padding:0px 5px 0px 10px;*/
    font:normal 21px Trebuchet MS,Tahoma;
    color: #A180B5;
    text-decoration:none;
    cursor:default;
    /* ------------ 
    margin-top: 5px;*/
}
ul.pureCssMenu span{
    overflow:hidden;
}
ul.pureCssMenu li {
    float:left;
}
ul.pureCssMenu ul li {
    float:none;
}
ul.pureCssMenu ul a {
    text-align:left;
    white-space:nowrap;
}
ul.pureCssMenu li.sep{
    text-align:left;
    padding:0px;
    line-height:0;
    height:100%;
}
ul.pureCssMenu li.sep span{
    float:none;	padding-right:0;
    width:3px;
    height:100%;
    display:inline-block;
    background-color:#cccccc #111111 #111111 #cccccc;	background-image:none;}
ul.pureCssMenu ul li.sep span{
    width:100%;
    height:3px;
}
ul.pureCssMenu li:hover{
    position:relative;
    /* ------------
    top:-3px;*/
}
ul.pureCssMenu li:hover>a{
    background-color:#A180B5;
    /*border-style:solid;
    border-color:#F6921C;*/
    font:normal 21px Trebuchet MS, Tahoma;
    color: #FBF002;
    text-decoration:none;
}
ul.pureCssMenu li a:hover{
    position:relative;
    background-color:#A180B5;
    /*border-style:solid;
    border-color:#F6921C;*/
    font:normal 21px Trebuchet MS, Tahoma;
    color: #FBF002;
    text-decoration:none;
}
ul.pureCssMenu li.dis a {
    color: #666 !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:2px;width:16px;
                    height:16px;
}
ul.pureCssMenu ul img {width:16px;
                       height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def{display:none}
ul.pureCssMenu span{
    display:block;
    background-image:url(./images/arr_white.gif);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:12px;}
ul.pureCssMenu li:hover>a>span{	background-image:url(./images/arrv_white.gif);
}
ul.pureCssMenu a:hover span{	_background-image:url(./images/arrv_white.gif)}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url(./images/arr_white.gif)}
/* End PureCSSMenu.com STYLE
-----------------------------------------------------------------------------*/